# Supabase Keys
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# App Config
NEXT_PUBLIC_SITE_URL=https://themistec.site
SUPER_ADMIN_EMAIL=cardosomicael245@gmail.com

# Asaas (Gateway de pagamentos - opcional)
ASAAS_API_URL=https://sandbox.asaas.com/api/v3
ASAAS_API_KEY=
